/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root{
  /* colors */
  --black: #000000;

  /* light Theme */
  --background-light: #FFFBFF;
  --on-background-light: #201A18;
  --surface-light: #FFF8F6;
  --surface-container-low-light: #FEF1EC;
  --surface-container-highest-light: #EDE0DB;
  --on-surface-light: #201A18;
  --on-surface-variant-light: #52443D;
  --primary-light: #9D4300;
  --on-primary-light: #FFFFFF;
  --primary-container-light: #FFDBCA;
  --on-primary-container-light: #341100;
  --secondary-container-light: #FFDBCA;
  --on-secondary-container-light: #2B160A;
  --outline-light: #85736B;
  --outline-variant-light: #D7C2B9;
  --inverse-surface-light: #362F2C;
  --inverse-on-surface-light: #FBEEE9;

  /* Dark Theme */
  --background-dark: #201A18;
  --on-background-dark: #EDE0DB;
  --surface-dark: #181210;
  --surface-container-low-dark: #201A18;
  --surface-container-highest-dark: #3A3330;
  --on-surface-dark: #D0C4BF;
  --on-surface-variant-dark: #D7C2B9;
  --primary-dark: #FFB690;
  --on-primary-dark: #552100;
  --primary-container-dark: #783200;
  --on-primary-container-dark: #FFDBCA;
  --secondary-container-dark: #5C4032;
  --on-secondary-container-dark: #FFDBCA;
  --outline-dark: #A08D84;
  --outline-variant-dark: #52443D;
  --inverse-surface-dark: #EDE0DB;
  --inverse-on-surface-dark: #201A18;


  /* font family */
--font-primary: 'Kumbh Sans', sans-serif;

/* font size */
--fs-base: 62.5%;
--fs-display-large: 5.7rem;
--fs-display-medium: 4.5rem;
--fs-display-small: 3.6rem;
--fs-headline-large: 3.2rem;
--fs-headline-medium: 2.8rem;
--fs-headline-small: 2.4rem;
--fs-title-large: 2.2rem;
--fs-title-medium: 1.6rem;
--fs-title-small: 1.4rem;
--fs-body-large: 1.6rem;
--fs-body-medium: 1.4rem;
--fs-body-small: 1.2rem;
--fs-label-large: 1.4rem;
--fs-label-medium: 1.2rem;
--fs-label-small: 1.1rem;

/* Line height */
--lh-base: 20px;
--lh-display-large: 64px;
--lh-display-medium: 52px;
--lh-display-small: 44px;
--lh-headline-large: 40px;
--lh-headline-medium: 36px;
--lh-headline-small: 32px;
--lh-title-large: 28px;
--lh-title-medium: 24px;
--lh-title-small: 20px;
--lh-body-large: 24px;
--lh-body-medium: 20px;
--lh-body-small: 16px;
--lh-label-large: 20px;
--lh-label-medium: 16px;
--lh-label-small: 16px;

/* Font weight */
--fw-regular: 400;
--fw-medium: 500;

/* letter spacing  */
--ls-n-025: -0.25px;
--ls-p-010: 0.10px;
--ls-p-015: 0.15px;
--ls-p-025: 0.25px;
--ls-p-040: 0.40px;
--ls-p-050: 0.50px;

/* Spacing  */
--spacing-base: 4px;
--spacing-05: calc(var(--spacing-base) * 0.5);
--spacing-1: calc(var(--spacing-base) * 1);
--spacing-2: calc(var(--spacing-base) * 2);
--spacing-3: calc(var(--spacing-base) * 3);
--spacing-4: calc(var(--spacing-base) * 4);
--spacing-5: calc(var(--spacing-base) * 5);
--spacing-6: calc(var(--spacing-base) * 6);
--spacing-7: calc(var(--spacing-base) * 7);
--spacing-8: calc(var(--spacing-base) * 8);
--spacing-9: calc(var(--spacing-base) * 9);
--spacing-10: calc(var(--spacing-base) * 10);
--spacing-11: calc(var(--spacing-base) * 11);
--spacing-12: calc(var(--spacing-base) * 12);
--spacing-13: calc(var(--spacing-base) * 13);
--spacing-14: calc(var(--spacing-base) * 14);
--spacing-15: calc(var(--spacing-base) * 15);
--spacing-16: calc(var(--spacing-base) * 16);
--spacing-17: calc(var(--spacing-base) * 17);
--spacing-18: calc(var(--spacing-base) * 18);
--spacing-19: calc(var(--spacing-base) * 19);
--spacing-20: calc(var(--spacing-base) * 20);


/* Box Shadow  */
--shadow-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
--shadow-2: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004d;
--shadow-3: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
--shadow-4: 0px 2px 3px 0px #0000004d, 0px 6px 10px 4px #00000026;
--shadow-5: 0px 4px 4px 0px #0000004d, 0px 8px 12px 6px #00000026;

/* Border radius */
--radius-extra-small: 4px;
--radius-small: 8px;
--radius-medium: 12px;
--radius-large: 16px;
--radius-extra-large: 28px;
--radius-full: 1000px;

/* Transition */
--tr-duration-short: 200ms;
--tr-duration-medium: 400ms;
--tr-duration-long: 500ms;
--tr-easing-linear: cubic-bezier(0, 0, 1, 1);
--tr-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);

/* Other */
--sidebar-width: 360px;

}

[data-theme="light"]{

  color-scheme: light;

  --background: var(--background-light);
  --on-background: var(--on-background-light);
  --surface: var(--surface-light);
  --surface-container-low: var(--surface-container-low-light);
  --surface-container-highest: var(--surface-container-highest-light);
  --on-surface: var(--on-surface-light);
  --on-surface-variant: var(--on-surface-variant-light);
  --primary: var(--primary-light);
  --on-primary:var(--on-primary-light);
  --primary-container: var(--primary-container-light);
  --on-primary-container: var(--on-primary-container-light);
  --secondary-container: var(--secondary-container-light);
  --on-secondary-container: var(--on-secondary-container-light);
  --outline: var(--outline-light);
  --outline-variant: var(--outline-variant-light);
  --inverse-surface: var(--inverse-surface-light);
  --inverse-on-surface: var(--inverse-on-surface-light);

}
[data-theme="dark"]{

  color-scheme: dark;

  --background: var(--background-dark);
  --on-background: var(--on-background-dark);
  --surface: var(--surface-dark);
  --surface-container-low: var(--surface-container-low-dark);
  --surface-container-highest: var(--surface-container-highest-dark);
  --on-surface: var(--on-surface-dark);
  --on-surface-variant: var(--on-surface-variant-dark);
  --primary: var(--primary-dark);
  --on-primary:var(--on-primary-dark);
  --primary-container: var(--primary-container-dark);
  --on-primary-container: var(--on-primary-container-dark);
  --secondary-container: var(--secondary-container-dark);
  --on-secondary-container: var(--on-secondary-container-dark);
  --outline: var(--outline-dark);
  --outline-variant: var(--outline-variant-dark);
  --inverse-surface: var(--inverse-surface-dark);
  --inverse-on-surface: var(--inverse-on-surface-dark);

}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style:none; }

a, img, span, input,button, textarea{
  display: block;
}

a{
  color:inherit;
  text-decoration:none;
}

img{ height: auto; }

input, textarea, button{
  background:none;
  border:none;
  font:inherit;
}

button{ cursor: pointer; }
input,textarea,[contenteditable="true"]{ outline:none; }
textarea{ resize:vertical; }

/*-----------------------------------*\
  #BASE
\*-----------------------------------*/

:where(input,textarea)::placeholder{ color: currentColor; }
button:disabled { pointer-events:none; }

html{
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body{ 
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--fs-body-medium);
  line-height: var(--lh-base);
}

::selection{
  background-color: var(--primary);
  color: var(--on-primary);
}
/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

.text-display-larger{
  font-size: var(--fs-display-large);
  line-height: var(--lh-display-large);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-n-025);
}
.text-display-medium{
  font-size: var(--fs-display-medium);
  line-height: var(--lh-display-medium);
  font-weight: var(--fw-regular);  
}
.text-display-small{
  font-size: var(--fs-display-small);
  line-height: var(--lh-display-small);
  font-weight: var(--fw-small);  
}
.text-headline-larger{
  font-size: var(--fs-headline-large);
  line-height: var(--lh-headline-large);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-n-025);
}
.text-headline-medium{
  font-size: var(--fs-headline-medium);
  line-height: var(--lh-headline-medium);
  font-weight: var(--fw-regular);
}
.text-headline-small{
  font-size: var(--fs-headline-small);
  line-height: var(--lh-headline-small);
  font-weight: var(--fw-regular);
}
.text-title-larger{
  font-size: var(--fs-title-large);
  line-height: var(--lh-title-large);
  font-weight: var(--fw-regular); 
}
.text-title-medium{
  font-size: var(--fs-title-medium);
  line-height: var(--lh-title-medium);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-015);
}
.text-title-small{
  font-size: var(--fs-title-small);
  line-height: var(--lh-title-medium);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-010);
}

.text-body-larger{
  font-size: var(--fs-body-large);
  line-height: var(--lh-body-large);
  font-weight: var(--fw-regular); 
  letter-spacing: var(--ls-p-015);
}
.text-body-medium{
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-medium);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-n-025);
}
.text-body-small{
  font-size: var(--fs-body-small);
  line-height: var(--lh-body-small);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-n-040);
}
.text-label-large{
  font-size: var(--fs-label-small);
  line-height: var(--lh-label-small);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-n-050);
}
.text-label-small{
  font-size: var(--fs-label-small);
  line-height: var(--lh-label-small);
  font-weight: var(--fw-small);
  letter-spacing: var(--ls-n-050);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.material-symbols-rounded{
   width: 1em;
   height: 1em;
   display: block;
   font-variation-settings: 
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;    
}

:has(> .state-layer){
  position: relative;
  overflow: hidden;
  isolation: isolate;
  -webkit-user-select:none;
  user-select: none;
}


.state-layer{
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-bg);
  opacity: 0;
  transition: opacity var(--tr-duration-short) var(--tr-easing-linear);
  z-index: -1;
}

:has(> .state-layer):hover > .state-layer { opacity: 0.08; }
:has(> .state-layer):is(:focus, :focus-visible, :focus-within) > .state-layer{
  opacity: 0.12;
}

:has(> .state-layer):active > .state-layer { opacity: 0.16; }

.customer-scrollbar::-webkit-scrollbar { width: 8px; }

.customer-scrollbar::-webkit-scrollbar-track{
  background-color:var(--surface-container-low);
  border-radius: 4px;
}

.customer-scrollbar::-webkit-scrollbar-thumb{
   background-color: var(--outline-variant);
   border-radius: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: var(--black);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: var(--tr-duration-short) var(--tr-easing-linear);
  transition-property: opacity, visibility;
}

.overlay.active {
  opacity: 0.5;
  visibility: visible;
}

.modal-overlay{
   z-index: 6;
   visibility: visible;
   animation: fade-overlay var(--tr-duration-short) var(--tr-easing-linear) forwards;
}

@keyframes fade-overlay{
  0% {opacity: 0;}
  100% {opacity: 0.5;}
}


/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

/**
 * Icon button
 */

.icon-btn{
  display: grid;
  place-items: center;
  color: var(--on-surface-variant);
  border-radius: var(--radius-full);
  --state-layer-bg: var(--on-surface-variant);
}

.icon-btn.large{
  width: 40px;
  height: 40px;
}

.icon-btn.small{
  width: 28px;
  height: 28px;
}

.icon-btn.small .material-symbols-rounded{ font-size: 1.8rem; }

/**
 * FAB (Floating Action Button)
 */
.fab{
  height: 56px;
  max-width: max-content;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  --state-layer-bg: var(--primary-container);
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  padding-inline: var(--spacing-4);
  border-radius: var(--radius-large);
  box-shadow: var(--shadow-1);
  transition: box-shadow var(--tr-duration-short) var(--tr-easing-linear);
}

.fab:hover{
   box-shadow: var(--shadow-2);
} 

.fab .text{ padding-inline-end: var(--spacing-2)}


/**
 * Card
 */

.card{
  background-color: var(--surface);
  padding: var(--spacing-4);
  border: 1px solid var(--outline-variant);
  border-radius: var(--radius-large);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  --state-layer-bg : var(--on-surface);
  transition: border-color var(--tr-duration-short) var(--tr-easing-linear);
}

.card:where(:hover, :focus-visible){ border-color: var(--outline); }
.card .card-title{ color: var(--on-surface);}
.card .card-text{
  color: var(--on-surface-variant);
  margin-block: var(--spacing-4);
  text-wrap: balance;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: auto;
}

.card .card-time {color: var(--on-surface-variant);}

.card .icon-btn{
  opacity: 0;
  transition: opacity var(--tr-duration-short) var(--tr-easing-linear);
}

.card:where(:hover, :focus-visible) .icon-btn{
  opacity: 1;
}
/**
 * Modal
 */
.model{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 560px;
  width: calc(100% - var(--spacing-8));
  background-color: var(--surface-container-highest);
  border-radius: var(--radius-large);
  padding: var(--spacing-6);
  box-shadow: var(--shadow-3);
  z-index: 8;
  animation: model-open var(--tr-duration-medium) var(--tr-easing-emphasized);
}

@keyframes model-open{
  0%{
    transform: translate(-50%,  calc(-50% + var(--spacing-5)));
    opacity: 0;
    visibility: hidden;
  }
  100%{
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }
}

.model .icon-btn{
  position: absolute;
  top: var(--spacing-4);
  right: var(--spacing-4);
}

.model-title{
  padding-inline-end: var(--spacing-18);
  max-height: 48px;
  color: var(--on-surface);
  margin-block-end: var(--spacing-4);
  overflow: hidden;
}

.model-text{
  min-height: 240px;
  max-height: calc(100vh - 200px);
  color: var(--on-surface-variant);
  overflow-y: auto;
  margin-block-end: var(--spacing-4);
}

.model-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-2);
  padding-block-start: var(--spacing-2);
}

.model-footer .time{
  flex-grow: 1;
  color: var(--on-surface-variant);
}

.btn{
  height: 40px;
  max-width: max-content;
  display: grid;
  align-items: center;
  border-radius: var(--radius-full);
}

.btn.text{
  color: var(--primary);
  --state-layer-bg: var(--primary);
  padding-inline: var(--spacing-3)
}

.btn.text:disabled{ color: var(--on-surface);}

.btn.text:disabled .text-label-large{ opacity: 0.38; }

.btn.fill{
  background-color: var(--primary);
  color: var(--on-primary);
  --state-layer-bg: var(--on-primary);
  padding-inline: var(--spacing-6);
  transition: box-shadow var(--tr-duration-short) var(--tr-easing-linear); 
}

.btn.fill:hover:not(:focus){ box-shadow: var(--shadow-1); }

/**
 * Button    
 */



/**
 * Tooltip
 */

.tooltip{
  position: fixed;
  z-index: 4;
  height: 24px;
  display: grid;
  align-items: center;
  padding-inline: var(--spacing-2);
  background-color: var(--inverse-surface);
  color: var(--inverse-on-surface);
  white-space: nowrap;
  border-radius: var(--radius-extra-small);
  pointer-events: none;
  animation: fade var(--tr-duration-short) var(--tr-easing-linear) forwards;
}

@keyframes fade{
  0% {opacity: 0;}
  100% {opacity: 1;}
}



/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/


.sidebar{
   position: fixed;
   top: 0;
   bottom: 0;   
   right: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(2,max-content) 1fr max-content;
   background-color: var(--surface-container-low);
   max-width: var(--sidebar-width);
   width: 100%;
   padding: var(--spacing-3);
   border-radius: 0 var(--radius-large) var(--radius-large) 0;
   box-shadow: var(--shadow-3);
   z-index: 4;
   visibility: hidden;
   transition: var(--tr-duration-long) var(--tr-easing-emphasized);
   transition-property: transform, visibility;
}

.sidebar.active{
  transform: translateX(100%);
  visibility: visible;
}

.sidebar .fab{ display: none; }

.sidebar > .wrapper{
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar > .wrapper-1{
  padding-inline: var(--spacing-4) var(--spacing-2);
  margin-block-end: var(--spacing-3);
}

[data-theme='dark'] .logo-light, .logo-dark{ display: none; }

[data-theme='dark'] .logo-dark { display: block; }

.sidebar > .wrapper-2 { padding-inline: var(--spacing-4) var(--spacing-6);}

.sidebar .nav{ overflow-y: auto;}

.nav-item{
  color: var(--on-surface-variant);
  --state-layer-bg: var(--on-surface-variant);
  height: 56px;
  display: flex;
  align-items: center;
  gap: var(--spacing-05);
  padding-inline: var(--spacing-4) var(--spacing-6);
  border-radius: var(--radius-full);
  cursor: pointer;
}

.nav-item.active{
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  --state-layer-bg: var(--on-secondary-container)
}

.nav-item .text{ flex-grow: 1; }

.nav-item .icon-btn{
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--tr-duration-short) var(--tr-easing-linear);
}

.nav-item:where(:hover, :focus-within) .icon-btn {
  opacity: 1;
  visibility: visible;
}

.sidebar .cp-info{
  height: 56px;
  display: flex;
  align-items: center;
  padding-inline: var(--spacing-4);
  color: var(--on-surface-variant);
  transition: color var(--tr-duration-short) var(--tr-easing-linear);
}



/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

.main {
  padding-inline : var(--spacing-4);
  padding-block-end: var(--spacing-4);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main .header{
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-2);
  padding-block: var(--spacing-4);
}

.main .header .wrapper{ flex-grow: 1; }

.main .header .title{ margin-block-end: var(--spacing-2); }

.main .header .text{ color: var(--on-surface-variant); }

.theme-btn{transition: transform var(--tr-duration-medium) var(--tr-easing-linear);}

[data-theme='dark'] .theme-btn .dark-icon,
.theme-btn .light-icon { display: none ;}

[data-theme='dark'] .theme-btn .light-icon { display: block; }

[data-theme='dark'] .theme-btn {transform: rotate(-90deg);}

.main > .title { margin-block: var(--spacing-3);}

.note-list{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  align-content: flex-start;
  flex-grow: 1;
  align-items: stretch;
  gap: var(--spacing-2);
}

.main .fab{
  position: fixed;
  bottom: var(--spacing-4);
  right: var(--spacing-4);
  z-index: 2;
}

.empty-notes{
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);   
   color: var(--on-surface-variant);
   -webkit-user-select: none;
   user-select: none;
}

.empty-notes .material-symbols-rounded{
  font-size: 6.8rem;
  opacity: 0.25;
  display: flex;
  margin-block-end: var(--spacing-4);
  margin-inline: auto;
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 responsive for larger than 768px screen
**/

@media (min-width: 768px){
  /* MAIN */

  .main{padding-inline: var(--spacing-6);}
}


/**
 responsive for larger than 992px screen
**/

@media (min-width: 992px){
  /* BASE */
  body{ padding-inline-start: var(--sidebar-width);}

  /* REUSED STYLE  */
  .overlay:not(.modal-overlay) {
    display: none;
  }

  /* SIDEBAR  */
  .sidebar{
    visibility: visible;
    left: 0;
    height: 100vh;
    grid-template-rows: repeat(3, max-content) 1fr max-content;
    box-shadow: none;
    border-radius: 0;
  }

  .sidebar.active{transform: unset;}
  .sidebar .fab{display: flex;}

  /* MAIN  */

  .main{padding-inline: var(--spacing-10);}
  .menu-btn, .main .fab{display: none;}
}


/**
 responsive for larger than 1400px screen
**/

@media (min-width: 1400px){
 
  /* MAIN  */

  .main{
     max-width: 1480px;
     width: 100%;
     margin-inline: auto;
  }

}